.project
.classpath
.checkstyle
.settings
/target/
/local/
/og-*/target/
/og-*/modules/*/target/
/modules/*/target/
/modules/target/
*.aps
*.suo
*.vcxproj.user
*~
*.iml
og-install/og-install.sdf
og-install/og-install.opensdf
og-language/og-language.sdf
og-language/og-language.opensdf
og-rstats/og-rstats.sdf
og-rstats/og-rstats.opensdf
